.error {
  border: 1px solid red;
  color: red;
  background: #cd9e9d;
  display: none;
  padding: 2px;
}
#container {
    margin: auto;
    width: 800px;
}
table {
    width: 1010px;
    background: green;
}
table tr td {
    background: white;
}
